################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ObjektvisionTestClient/bin/Debug/ObjektvisionTestClient.vshost.exe.manifest
