<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ImportServerSoap" allowCookies="true" maxReceivedMessageSize="2147483647"/>                
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://kltimport.test.objektvision.se/soap/server.asmx"
                binding="basicHttpBinding" bindingConfiguration="ImportServerSoap"
                contract="ImportServer.ImportServerSoap" name="ImportServerSoap" />
        </client>
    </system.serviceModel>
</configuration>